<div class="homepage">
    <div id="pic-bio">
      <div id="pic-container">
        <div id="pic">
        </div>
        <span id="title">
          Software Engineer
        </span>
        <span id="education">
          B.S. Computer Science
        </span>
        <span id="blog">
          <a href="https://medium.com/@eamonbachari">Check out my blog!</a>
        </span>
      </div>
      <div id="bio">
        <p>Hey there! Welcome to my personal website. This will be an ongoing project, in which I'll demonstrate my knowledge of web development tools such as <b>Node.js</b>, <b>ReactJS</b>, and <b>Ruby on Rails</b>, as well as any other tool I feel may earn the attention of some prospective employer. Enjoy your visit. Cheers! </p>
      </div>
    </div>

    <h2>Featured Projects</h2>
    <div class="featured-projects">
      <div class="project">
        <a href="https://eamonster27.github.io/soundcloud/">
          <div class="thumbnail">
            <div id="proj-img-1"></div>
          </div>
        </a>
        <div class="proj-name">
          <h2><a href="https://github.com/eamonster27/soundcloud">Soundcloud</a></h2>
        </div>
      </div>

      <div class="project">
        <a href="https://eamonbachari-nodejs.herokuapp.com/">
          <div class="thumbnail">
            <div id="proj-img-2"></div>
          </div>
        </a>
        <div class="proj-name">
          <h2><a href="https://github.com/eamonster27/nodeAndExpressGame">NodeExpressGame</a></h2>
        </div>
      </div>
      <div class="project">
        <a href="https://eamonster27.github.io/basicCalculator/">
          <div class="thumbnail">
            <div id="proj-img-3"></div>
          </div>
        </a>
        <div class="proj-name">
          <h2><a href="https://github.com/eamonster27/basicCalculator">Calculator</a></h2>
        </div>
      </div>
    </div>
</div>
